<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Opslag ' + ${werknemer.voornaam})">
</head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Opslag voor <span th:text="|${werknemer.voornaam} ${werknemer.familienaam}|"></span></h1>
<dl>
    <dt>Huidig salaris</dt><dd th:text="*{werknemer.toonSalaris()}"></dd>
</dl>
<form method="post" th:action="@{/werknemershierarchie/opslag/{id}(id=${werknemer.id})}" th:object="${opslagForm}">
    <label>Bedrag:
        <input th:field="*{opslag}" required autofocus>
    </label>
    <input type="submit" value="Opslag">
    <span class="fout" th:errors="*{opslag}"></span>
</form>
</body>
</html>